// Media
$xxl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 320px;        

// Fonts

$montserrat-semibold: 'Montserrat-SemiBold', sans-serif; 
$opensans-bold: 'OpenSans-Bold', sans-serif;
$opensans-light: 'OpenSans-Light', sans-serif;
$opensans-regular: 'OpenSans-Regular', sans-serif;
$opensans-semibold: 'OpenSans-SemiBold', sans-serif; 
$montserrat-regular: 'Montserrat-Regular', sans-serif;


// Colors 

$color-main: #3e4056;
$color-granit: #3e3f58;  
$color-bg: #ecf1f8; 
$color-warning: #f05d63;
$color-silver: #636363; 
$color-check: #ed5267;
$color-circle:  #b2b3bb;  
